// Variáveis de cores
$primary-color: #4caf50;
$secondary-color: #f4f4f4;
$text-color: #333;
$footer-bg-color: #222;

// Resetando alguns estilos básicos
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  padding-top: 20px;
}

// Estilos para o header
header {
  background-color: #4caf50;
  color: white;
  padding: 20px;

  .logo h1 {
    font-size: 2em;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
  }

  nav ul li {
    margin-left: 20px;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s;
  }

  nav ul li a:hover {
    color: #ddd;
  }
}

// Estilos para o main e conteúdo principal
main {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  max-width: 1200px;

  article {
    flex: 3;
    padding: 20px;

    section {
      margin-bottom: 20px;
    }

    section h2 {
      font-size: 1.8em;
      color: #4caf50;
    }

    section p {
      font-size: 1.1em;
      line-height: 1.5;
    }
  }

  aside {
    flex: 1;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    h3 {
      font-size: 1.5em;
      color: #4caf50;
    }

    ul {
      list-style-type: none;
    }

    ul li {
      margin-bottom: 10px;
    }

    ul li a {
      text-decoration: none;
      color: #4caf50;
      font-size: 1.1em;
      transition: color 0.3s;
    }

    ul li a:hover {
      color: #333;
    }
  }
}

// Estilos para o footer
footer {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 20px;

  p {
    margin: 10px 0;
  }
}

// Responsividade para dispositivos móveis
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  header .logo h1 {
    font-size: 1.8em;
  }

  nav ul {
    flex-direction: column;
    text-align: center;
  }

  nav ul li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  main {
    flex-direction: column;
    padding: 0 20px;
  }

  article {
    flex: 1;
    padding-right: 0;
  }

  aside {
    flex: 1;
    margin-top: 20px;
  }
}
